<h1>Create A Post</h1>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br><br>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <br><br>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <br>
  <%= f.fields_for :categories, @post.categories.build do |cat| %>
    <%= cat.label :name %>
    <%= cat.text_field :name %>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>
