<h3><%= @post.title %></h3>
<p><%= @post.content %></p>
<% @post.categories.each do |category| %>
<p><%= category.name %></p>
<% end %>

  <% @post.comments.each do |comment| %>
  <p><%= comment.user.username %> says: <%= comment.content %> </p>
  <% end %>

  <% @post.users.uniq.each do |user| %>
  <p><%= link_to user.username, user_path(user) %></p>
  <% end %>

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id, { :value => @post.id } %>
  <label>Comment:</label>
  <%= f.text_field :content %> <br>
  <label>Comment by user:</label>
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <%= f.fields_for :user, User.new do |user| %>
    Make User: <%= user.text_field :username %>
  <% end %>
  <%= f.submit "Create Comment" %>
<% end %>
